<a href="https://colab.research.google.com/github/MarcosRG19/Python432/blob/main/RGM_Examen_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio 1

funcion que retorne un diccionario con los datos basicos de un alumno (pedir al usuario y validar)

In [1]:
def diccionar():
    band = True
    while band:
        try:
            matri = int(input("INGRESA TU MATRICULA (300000 - 399999)"))
            print("INGRESA TU NOMBRE ")
            nomb = input()
            print("INGRESA TU APELLIDO PATERNO ")
            appat = input()
            print("INGRESA TU APELLIDO MATERNO ")
            apmat = input()
            print("INGRESA TU EDAD ")
            edad = input()
            print("SELECCIONE SU SEXO 1.- HOMBRE 2.- MUJER ")
            sexo = int(input())
        except:
            print("INTRODUJO UN VALOR ERRONEO, COMIENCE DE NUEVO")
        else:
            if sexo == 1:
                diccionario = {"MATRICULA":matri,"NOMBRE":nomb, "APELLIDO PATERNO":appat,
                               "APELLIDO MATERNO":apmat, "EDAD":edad, "SEXO":"HOMBRE"}
            elif sexo == 2:
                diccionario = {"MATRICULA":matri,"NOMBRE":nomb, "APELLIDO PATERNO":appat,
                               "APELLIDO MATERNO":apmat, "EDAD":edad, "SEXO":"MUJER"}
            band = False
    return diccionario

In [2]:
dic = diccionar()
print(dic)

INGRESA TU MATRICULA (300000 - 399999)361603
INGRESA TU NOMBRE
MARCOS
INGRESA TU APELLIDO PATERNO
RUIZ
INGRESA TU APELLIDO MATERNO
GONZALEZ
INGRESA TU EDAD
24
SELECCIONE SU SEXO 1.- HOMBRE 2.- MUJER
1
{'MATRICULA': 361603, 'NOMBRE': 'MARCOS', 'APELLIDO PATERNO': 'RUIZ', 'APELLIDO MATERNO': 'GONZALEZ', 'EDAD': '24', 'SEXO': 'HOMBRE'}

# Ejercicio 2

funcion que retorne una lista con 30 numeros generados aleatorios (20-60) no repetidos



Escribir dos bloques de codigo que mande llamar la funcion y desplegar el resultado,

bloque 1, llamar funcion y mostrar la lista normal desordenada

bloque 2 . llamar funcion y mostrar la lista ordenada

In [3]:
import random

In [6]:
def Listarand():
    lista = []
    i=0
    while i<30:
        num = random.randrange(20,60)
        if num not in lista:
            lista.append(num)
            i+=1
    return lista

In [7]:
numeros = Listarand()
print(numeros)

[41, 22, 57, 49, 31, 25, 38, 44, 21, 45, 51, 46, 28, 55, 35, 59, 33, 37, 39, 47, 43, 50, 56, 29, 34, 24, 27, 23, 30, 32]

In [18]:
numeros = Listarand()
i=0
for i in range(0,29):
    for j in range(0,29):
        if numeros[i]<numeros[j]:
            aux = numeros[i]
            numeros[i] = numeros[j]
            numeros[j] = aux
print(numeros)

[21, 22, 23, 24, 27, 28, 29, 32, 33, 35, 36, 37, 39, 40, 41, 43, 44, 45, 47, 48, 50, 51, 52, 54, 55, 56, 57, 58, 59, 53]

# EJERCICIO 3

funcion que retorne el resultado del area de un triangulo

Escribir codigo que mande llamar la funcion y desplegar el resultado,

Pedir al usuario los datos de entrada y VALIDAR da tos entrada

In [21]:
def Area():
    band = True
    while band:
        try:
            base = float(input("INGRESE LA MEDIDA DE LA BASE DEL TRIANGULO "))
            altura = float(input("INGRESE LA MEDIDA DE LA ALTURA DEL TRIANGULO "))
        except:
            print("INGRESO UN VALOR INVALIDO")
        else:
            area = (base*altura)/2
            band = False
    return area

In [24]:
res = Area()
print(f"EL AREA DEL TRIANGULO ES: {res}")

INGRESE LA MEDIDA DE LA BASE DEL TRIANGULO slad
INGRESO UN VALOR INVALIDO
INGRESE LA MEDIDA DE LA BASE DEL TRIANGULO reg
INGRESO UN VALOR INVALIDO
INGRESE LA MEDIDA DE LA BASE DEL TRIANGULO 5
INGRESE LA MEDIDA DE LA ALTURA DEL TRIANGULO 10
EL AREA DEL TRIANGULO ES: 25.0